<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Russian Road sign detection</title>
</head>
<body>
<H1 align="center">Детекция дорожных знаков </H1> <h3 align="center">(На основе Russian sign dataset)</h3>
<h4 align="center"> Возможна ошибка, если картинка будет не RGB, а RGBA</h4>
<div align="center">
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/jpeg,image/png" required>
        <br><br>
        <input type="submit">
    </form>
</div>
</body>
</html>